<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spyfall</title>
  <link rel="stylesheet" type="text/css" href="/tacit.min.css"/>
</head>
<body>
  <section>
  <a href="/"><h1>Spyfall</h1></a>
  {{ if .Spy }}
    <p>You are the Spy</p>
  {{ else }}
    {{$l := index .Cards .Location}}
    <p>Locations: {{$l.Name}}</p>
  {{ end }}
  <ul>
    {{ $b := .Location }}
    {{range $index, $element := .Cards}}
    {{if eq $index $b }}
    WE ARE HERE
    {{end}}
    <li><img src="/cards/{{.Path}}">{{.Name}}</li>
    {{end}}
  </ul>
  </section>
</body>
</html>
